.trick-illustration {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none!important;
}

.bg-gray {
    background-color: #f6f5f5;
    border: 1px solid #eae7e7;
}
hr {
    color: #cbcbcb;
}
